@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
.source, .source input {
  font-family: 'Source Sans Pro', sans-serif;
}
.lora, .lora input {
  font-family: 'Lora', serif;
}
.philosopher, .philosopher input {
  font-family: 'Philosopher', sans-serif;
}
.literata, .literata input {
  font-family: 'Literata', serif;
}
.vollkorn, .vollkorn input {
  font-family: 'Vollkorn', serif;
}
.firacode, .firacode input {
  font-family: 'Fira Code', monospace;
}
:root {
  --min_size: 12;
  --max_size: 20;
  --minimum_size: calc(1px * var(--min_size));
  --maximum_size: calc(1px * var(--max_size));
  --minimum_viewport_width: 320;
  --maximum_viewport_width: 1800;
  --delta_size: calc(var(--max_size) - var(--min_size));
  --delta_viewport: calc(var(--maximum_viewport_width) - var(--minimum_viewport_width));
  --scale_factor: calc((100vw - (1px * var(--minimum_viewport_width))) / var(--delta_viewport));
  --result: clamp(var(--minimum_size), calc(var(--minimum_size) + var(--delta_size) * var(--scale_factor)), var(--maximum_size));
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--result);
}
html, body {
  min-height: 100vh;
}

body {
  transition: .18s opacity ease-in-out;
  padding: 5px 12px;
  font-size: 1.3rem;
}

.center {
  text-align: center;
}
h1 {
  color: #de250d;
  font-family: cursive;
  font-size: 3.5rem;
}
h3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #de250d;
  font-family: cursive;
  font-size: 2.25rem;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: dodgerblue;
}
#show {
  padding: 4px 10px 4px 10px;
  font-size: 1rem;
  background: #92dd9c;
  border-radius: 125px 325px 125px / 225px 125px 355px 125px;
}
#show:hover {
  background: #98f6a4;
  color: rgb(43, 43, 43);
}
#main {
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #0d8300;
  border-radius: 10px;
  max-width: 1800px;
  margin: 5px auto;
}
.el {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding: 2px 2px 3px 8px;
  margin: 1px auto;
  border: 1px dotted grey;
  border-radius: 255px 25px 225px / 25px 225px 25px 255px;
}
.el span {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  max-width: 54%;
}
.el input {
  position: relative;
  width: 45%;
  min-height: 1.63rem;
  font-family: inherit;
  font-size: 1.27rem;
  outline: none;
  padding: 2px 8px;
  border: 1px solid #2c2c2c;
  border-radius: 255px 25px 225px / 25px 225px 25px 255px;
}
.el input:focus {
  border: 1px solid rgba(0, 183, 168, 0.46);
  outline: 3px solid rgba(0, 183, 168, 0.46);
}
.el:before {
  position: absolute;
  background: #92dd9c;
  border-radius: 20px;
  font-size: 1rem;
  padding: 2px 8px;
  left: 52%;
  top: 50%;
  transform: translateY(-50%);
  counter-increment: list1; /* Увеличиваем значение счетчика */
  content: counter(list1); /* Выводим число */
  opacity: .6;
}
.el[data-pattern]:before {
  background: #dd92d8;
}
.done {
  background: #69fe48;
}
.err {
  background: #fed448;
}
.toggle-bg{
  background: #222;
  display: block; /* ...Чтобы можно было установить высоту и ширину */
  float: left; /* ...Чтобы он не занимал всю ширину страницы */
  height: 7px;
  position: relative; /* Требуется, чтобы тумблер мог передвигаться */
  width: 26px;
  border-radius: 8px;
}
.toggle-bg input{
  height: 28px;
  left: 0;
  margin: 0; /* Сбросьте поля и отступ */
  opacity: 0; /* Невидим! */
  padding: 0;
  position: absolute;
  top: -10px; /* Сдвиньте по вертикали */
  width: 36px;
  z-index: 2; /* Нам нужно, чтобы вход input находился сверху span.switch, которому мы назначим z-index в 1 */
}
.switch{
  background: #ccc;
  display: block;
  float: left;
  height: 14px;
  left: -1px; /* Это – начальная точка. При добавлении border radius немного виден фон, если использовать left: 0;, поэтому лучше всего применить -1px.*/
  position: relative;
  top: -4px; /* ...Чтобы отцентрировать его по вертикали */
  width: 14px;
  border-radius: 8px;
  z-index: 1; /* Помните, он должен быть под невидимыми input-ами */
  transition: left .2s ease;
  background: radial-gradient(ellipse at center, #faff6c 0%, #6d68fb 50%, #5e86ff 51%, #03006c 100%);
  box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
}
.toggle-bg input:checked~.switch{ left: -1px; } /* Исходная позиция тумблера */
.toggle-bg input~:checked~.switch{ left: 13px;
  background: radial-gradient(ellipse at center, #14ff00 0%, #e35757 50%, #ff8686 51%, #8c0000 100%)
} /*окончательная относительная позиция переключателя */
.toggle-bg input:checked{ z-index: 0; }
.blk {
  display: block;
}
.flexrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flexrow .blk {
  padding: .5rem;
}
.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrow li {
  list-style: none;
  margin: 4px 3px;
  font-size: 1rem;
  transition: all .3s ease-in-out;
}
.flexrow li:hover {
  font-size: 1.4rem;
}
.flexrow li label {
  min-width: 8.75rem;
  min-height: 2.25rem;
  border: 1px dotted grey;
  border-radius: 15px;
  background: #9fbea3;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.flexrow li label:hover {
  box-shadow: 1px 1px 2px #2c2c2c;
  border: 1px dotted #343434;
  border-radius: 6px;
  background: #c0f9c7;
}
.flexrow li input {
  display: none;
}
.flexrow li input:checked~ label{
  background: #74ff86;
  box-shadow: 1px 1px 2px #2c2c2c;
  border: 1px solid #820000;
  border-radius: 6px;
  font-size: 1.4rem;
}
@media (max-width: 760px) {
  h3 {
    position: relative;
    font-size: 1.5rem;
  }
  .el:before {
    display: none;
  }
  .flexrow li {
    list-style: none;
    margin: 2px;
    transition: all .3s ease-in-out;
  }
  .el {
    width: 100%;
    flex-direction: column;
  }
  .el span {
    max-width: 99%;
    padding: 4px;
  }
  .el input {
    padding: 2px;
    width: 99%;
    min-height: 2.1rem;
  }
}
.link-page {
  margin: 5px 1px 2px;
  padding: 2px 9px;
  text-decoration: none;
  background: #a6dcff;
  border-radius: 425px 255px 25px 25px / 25px 25px 145px;
  color: #7b0505;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  /*pointer-events: none;*/
}
.link-page:hover:not(.active) {
  outline: 1px solid #6c0000;
}
#panel {
  position: relative;
  width: 100%;
  counter-reset: list1;
}
#links {
  width: 96%;
  margin: 5px auto;
  flex-wrap: wrap;
}
a.active {
  color: #fff873;
  background: #e20b0b;
  cursor: default;
}
@media (max-width: 600px) {
  body {
    padding: 0;
    background: #ccf1ff;
  }
  #progress{
    display: none;
  }
  .el {
    padding: 1px;
  }
  .el input {
    width: 99%;
    padding: 0;
  }
  .el span {
    max-width: 99%;
  }
  .spoiler li:nth-child(7), .spoiler li:nth-child(8) {
    display: none;
  }
}
.spoiler {
  border: 1px solid #e0e0e0;
  padding: 0 0.6em;
}
.spoiler details {
  padding: .9rem 0;
}
.spoiler details + details {
  border-top: 1px solid #e0e0e0;
}
.spoiler summary {
  color: #4d5895;
  font-size: 1.3rem;
}
.spoiler details div {
  overflow: hidden;
  padding: 1em 1em 0;
}
.spoiler details[open] div {
  animation: spoiler 1s;
}
@keyframes spoiler {
  0%   {max-height: 0;}
  100% {max-height: 30em;}
}
.spoiler li {
	padding: 3px 10px;
	margin: 3px 0 0 5px;
}
a.repo {
  position: absolute;
  top: 8px;
  right: 14px;
}
a.repo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.w100 {
  width: 100%;
}
.search {
  width: 50%;
  font-size: 1.3rem;
  padding: 2px 8px 4px;
  outline: none;
  border: 2px inset #333;
  border-radius: 25px 225px 25px / 225px 25px 255px 25px;
}
.search:active, .search:focus {
  outline: rgb(4, 142, 80) solid 2px;
  border: 2px inset #33333300;
}
.go {
  padding: 4px 10px;
  font-size: 1.15rem;
  color:darkgreen;
  border-radius: 25px 225px 25px / 225px 25px 255px 25px;
}
.grey {
  color: grey;
}
#progress{
  width: 12rem;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 40%;
  background: #f0dda5;
  text-align: center;
  padding: 2.5rem 1rem;
  border: 3px outset #dbac7a;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 0%);
}
#progress span {
  color: green;
  font-size: 1rem;
}
.fadeOpacity {
  opacity: .8;
  animation: fadeOut 2.2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: .8;
    visibility: visible;
  }
  40% {
    opacity: .8;
  }
  99% {
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
0% {
  opacity: 0;
  transform: translate3d(-50%, -100%, 0px);
}
100% {
  opacity: 1;
  transform: translateZ(0px);
  transform: translate(-50%);
}
}
/* [data-pattern] {
  background: #faff6c;
} */
/* Оформление панели */
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #337AB7;
    transition: all 0.5s;
    width: 300px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #fafafa;
    padding: 30px 15px;
    opacity: .94;
    font-family: Source Sans Pro, sans-serif;
}
.side-panel label{
  font-size: 0.84rem;
}
.side-title {
    font-size: 20px;
    color: #ffdcb8;
    text-shadow: 1px 1px 2px black;
    padding-bottom: 4px;
    margin-bottom: 4px;
    margin-top: 16px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
    padding: 10px 0px 0px 0px;
}
.side-button-1 {
    display: inline-block;
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);
    color: #FFF;
}

.icon-button {
    display: inline-block;
    background-color: transparent;
    border: 2px outset grey;
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.num {
  display: inline-block;
  width: 45px;
  padding: 4px;
  margin: 2px;
  background-color: rgb(52, 52, 52);
  font-size: 18px;
  border: 2px inset grey;
  border-radius: 8px;
}
.icon-button:hover {
    background-color: #e0e0e0;
}

.icon-button svg {
    width: 52px;
    height: 40px;
    fill: #333;
}

.icon-button:hover svg {
    fill: #007BFF;
}
.upfont {
  font-size: large;
  font-weight: 600;
}
.slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #1412424f;
    border-radius: 5px;
}
.slider-label {
    width: 30px;
    text-align: right;
    margin-right: 10px;
}
input[type="range"] {
    flex: 1;
}
svg {
  margin-top: 5px;
}
.green {
  background-color: rgb(121, 253, 121);
}
.red {
  background-color: rgb(255, 133, 133);
}
.yellow {
  background-color: #ffea76;
}
textarea {
  resize: none;
}
.userfont{
  font-family: initial;
}
.hide {
  opacity: 0;
}
.visible {
  opacity: 1;
}
