@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.source {
  font-family: 'Source Sans Pro', sans-serif;
}
.lora {
  font-family: 'Lora', serif;
}
.philosopher {
  font-family: 'Philosopher', sans-serif;
}
.literata {
  font-family: 'Literata', serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100vh;
}
body {
  background: #ccffd3;
  padding: 5px 20px;
  font-size: 24px;
}
.center {
  text-align: center;
}
h1 {
  color: #de250d;
  font-family: cursive;
  font-size: 55px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: dodgerblue;
}
#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0d8300;
  border-radius: 10px;
}
.el {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 4px 10px;
  margin: 2px auto;
  border: 1px dotted grey;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}
.el input {
  width: 50%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  outline: none;
  padding: 3px;
  border: 1px solid black;
}
.el input:focus {
  border: 1px solid red;
}
.done {
  background: #69fe48;
}
.err {
  background: #fed448;
}

.toggle-bg{
  background: #222; /* Вам понадобится видеть область с тумблером, но не стесняйтесь изменить цвет */
  display: block; /* ...Чтобы можно было установить высоту и ширину */
  float: left; /* ...Чтобы он не занимал всю ширину страницы */
  height: 7px; /* Если хотите, можно это попозже изменить */
  position: relative; /* Требуется, чтобы тумблер мог передвигаться */
  width: 26px; /* Это тоже можно позже изменить */
  border-radius: 8px;
}
.toggle-bg input{
  height: 28px;
  left: 0;
  margin: 0; /* Сбросьте поля и отступ */
  opacity: 0; /* Невидим! */
  padding: 0;
  position: absolute;
  top: -10px; /* Сдвиньте по вертикали */
  width: 36px;
  z-index: 2; /* Нам нужно, чтобы вход input находился сверху span.switch, которому мы назначим z-index в 1 */
}
.switch{
  background: #ccc;
  display: block;
  float: left;
  height: 14px;
  left: -1px; /* Это – начальная точка. При добавлении border radius немного виден фон, если использовать left: 0;, поэтому лучше всего применить -1px.*/
  position: relative;
  top: -4px; /* ...Чтобы отцентрировать его по вертикали */
  width: 14px;
  border-radius: 8px;
  z-index: 1; /* Помните, он должен быть под невидимыми input-ами */
  transition: left .2s ease;
  background: radial-gradient(ellipse at center, #faff6c 0%, #6d68fb 50%, #5e86ff 51%, #03006c 100%);
  box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
}
.toggle-bg input:checked~.switch{ left: -1px; } /* Исходная позиция тумблера */
.toggle-bg input~:checked~.switch{ left: 13px;
  background: radial-gradient(ellipse at center, #14ff00 0%, #e35757 50%, #ff8686 51%, #8c0000 100%)
} /*окончательная относительная позиция переключателя */
.toggle-bg input:checked{ z-index: 0; }
.blk {
  display: block;
}
.flexrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexrow .blk {
  padding: 10px;
}
.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrow li {
  list-style: none;
  margin: 4px 3px;
  font-size: 1rem;
  transition: all .3s ease-in-out;
}
.flexrow li:hover {
  font-size: 1.4rem;
}
.flexrow li label {
  min-width: 140px;
  min-height: 36px;

  border: 1px dotted grey;
  border-radius: 15px;
  background: #9fbea3;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.flexrow li label:hover {

  border: 1px dotted #343434;
  border-radius: 6px;
  background: #c0f9c7;
}
.flexrow li input {
  display: none;
}
.flexrow li input:checked~ label{
  background: #74ff86;
  border-radius: 6px;
  font-size: 1.4rem;
}
